body{
    background: url(http://orig12.deviantart.net/32e2/f/2011/204/d/b/pen_and_paper_by_dennymester-d41dm39.jpg) no-repeat center ;
    width: 100%;
    height: 100%;
}
#my-header{
    color: #444444;
    font-family: "Lucida Grande", sans-serif;
    padding-left: 1px;
    font-weight: bold;
}

.quote-section{
    background-color: black;
    padding: 5% 0 5% 0;
    vertical-align: middle;
    width: 100%;
}

h1{
    margin-left: 10px;
    padding-left: 5px;
    font-weight: bold;
}

#my-quote{
    color: aliceblue;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 1.9em;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.btn-group{
    text-align: center;
    margin: 1% 45%;
    width: 15%;
}

.btn{
    margin: 5%;
    width: 150px;
}

.btn-get{
    background-image: url(http://www.dafont.com/img/illustration/d/i/dirty_and_classic.jpg);
    font-weight: 600;
}
