body{
    width: 100%;
    height: 100%;
    color: aliceblue;
    background: #444444;
}

.quote-section{
    margin: 5em auto;
    width: 100%;
    background-color: #000;
    height: 300px;
}
#quoteDisplay{
    margin: auto auto;
    vertical-align: middle;
}

#quoteText{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 1.9em;
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    vertical-align: mddle;
}

/* btn group */
#theBtns{
    margin: 0 auto;
}

.btn{
    margin: 5px 0;
}